node_modules
.DS_Store
dist
dist-ssr
*.local
node_modules/*
stats.html

### VisualStudioCode ###
.vscode/**/*
!.vscode/settings.suggested.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
